header{
    background-color: #212529;
    display: $dFlex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

    .logo-empresa{
        order: -1;
        max-height: 10vh;
    }
}