.section-1-productos{
    display: $dFlex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.parrafo-seccion1-productos{
    text-align: center;
    
}
.imagenes-promo {
    width: 80%;
    text-align: center;
}

.btn-you-tube{
    background-color: $colorYouTube;
    color: rgb(255, 255, 255);
    border: 0px;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: all 0.7s;
    transform: scale(1);

    &:hover{
        background-color: $colorB;
        color: $colorYouTube;
        transition: all 0.7s;
        transform: scale(1.2);
        cursor: pointer;
    }
}
