.redes{
    list-style: none;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: $dFlex;
    flex-direction: column;
    text-align: center;
    
    li{
        margin-bottom: 10px;
    }
}

.logos-redes {
    height: 2rem;
}